#content{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#header{
    background-image: url("https://static-assets-prod.epicgames.com/fortnite/static/webpack/8704d4d5ffd1c315ac8e2c805a585764.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;

}

h1{
    padding-top: 30px;
    text-align: center;
    color: white;
}

#img1, #img2{
    margin-top: 10px;
    margin-bottom: 10px;
}

#img1{
    margin-right: 10px;
    float: left;
    width:200px;
    height:200px;

}

#img2{
    float: right;
    margin-left: 10px;
    width:300px;
}

#img3{
    margin-right: 10px;
    float: left;
    height:200px;

}

#img4{
    margin-top: 10px;
    margin-right: 0px;
    float: right;
    width:350px;
    height:200px;

}

#img5{
    float: left;
    margin-left: 0px;
    width:400px;
    height: 200px;
}

#img6{
    margin-right: 10px;
    float: left;
    height:200px;

}

p{
    text-align: justify;
}

#footer email {
    text-align: center;
}

#footer{
    clear: both;
    background-color: black;
    color: white;
    padding: 30px;
}